[Unit]
Description=Telegram Security Bot
After=network.target

[Service]
ExecStart={directory}/venv/bin/python3 {directory}/app.py

[Install]
WantedBy=multi-user.target